/* Custom Utility Classes */
.mono {
  font-family: "Space Grotesk", monospace;
  letter-spacing: -0.05em;
}

.padded-route {
  padding-top: 72px; // Navbar height (64px) + small spacing (8px)

  &> :not(.dashboard-layout) {
    padding: 0 24px 24px 24px; // Uniform side and bottom padding
  }
}